.contact-section {
  background-color: #1F1F2DFF;
  border-right: 2px solid #5d5d85;
  margin: 0;
  padding: 0;
}



.app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.conversation-section {
  background-color: #1f1f1f;
  padding: 0;
  margin: 0;
}

.conversation-information {
  position: static;
  top: 0;
  height: 45px;
  width: 100%;
  margin: 5px;
  border-bottom: 1px solid #111111;
 }

.conversation {
  position: static;
  height: calc(100vh - 50px - 95px);
  width: 100%;
  overflow: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.conversation-form {
  position: static;
  margin: 20px;
  width: 100%;
  height: 45px;
}

.message {
  padding: 5px;
  max-width: 70%;
  width: fit-content;
}

.message-lui {
  background-color: #353535;
  border: 5px #353535 solid;
  border-radius: 2px;
}

.message-moi {
  background-color: #5d5d85;
  border: 2px #5d5d85 solid;
  border-radius: 5px;
}

.label-message {
  font-size: 13px;
  margin: 0 5px;
}

.contact {
  width: 100%;
}

.contact-information {
  width: calc(100% - 30px);
  height: 60px;
  padding: 0 5px;
  margin: 5px 10px;
}

.contact-information:hover {
  background-color: #353535;
  border: 1px solid #4e4e4e;
  border-radius: 5px;

}

.btn-send {
  background-color: #1E1E1E;
  width: 50px;
  color: #fafafa;
  /*margin-top: 5px;*/
  height: 100%;
  border: 1px solid #5d5d85;
  border-left: none;

}

button {
  width: 20px;
}

.message-sender {
  background-color: #1E1E1E;
  color: #fafafa;
  border: 1px solid #5d5d85;
  border-right: none;
  height: 100%;
}

.btn-disconnect {
  width: 100px;
}

.message-sender:focus {
  background-color: #1E1E1E !important;
  color: #fafafa !important;
  border: 1px solid #5d5d85 !important;
  border-right: none !important;
  height: 100% !important;
  box-shadow: none !important;
}


.available{
  background: #40d70e;
  border-radius:50%;
  width:10px;
  height:10px;
}

.absent{
  background: #d75b0e;
  border-radius:50%;
  width:10px;
  height:10px;
}

.user {
  margin: 0;
}

