apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: cguillier/frontend:latest
          ports:
            - containerPort: 8081
          env:
            - name: SERVER_PORT
              value: "8081"
            - name: MOTEUR_URL
              value: "http://moteur:8080/"
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka-service:29092"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  ports:
    - port: 8081
      targetPort: 8081
  selector:
    app: frontend
