<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Mewling page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/messagePage.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <!-- Lien vers le fichier CSS externe -->
</head>
<body>
<div class="container-fluid">
    <div class="app row align-item-start">
        <div class="contact-section row d-flex justify-content-center align-content-start">
            <div class="username">
                <h1 th:text="${username}"></h1>
            </div>
            <div class="broadcast">
                <h1>Général</h1>
            </div>
            <div class="contact">
                <div class="contact-information" th:each="contact: ${contacts}">
                    <button th:attr="onclick=|changeUser('${contact.id}')|" th:text="${contact.username}"></button>
                    <p class="d-inline-block text-truncate"></p>
                </div>
            </div>
        </div>
        <div class="conversation-section row d-flex align-content-start">
            <div class="conversation-information">
                <h3 th:text="${targetusername}"></h3>
            </div>
            <div id="chat" class="conversation">
                <div th:each="message: ${messages}">
                    <div th:if="${message.sender.username == username}" class=" d-flex flex-column justify-content-end align-items-end"><label th:text="${message.sender.username} + ' - ' + ${message.date}" class="label-message"></label><p th:text="${message.message}" class="message message-moi"></p></div>
                    <div th:if="${message.sender.username != username}" class="d-flex flex-column justify-content-start"><label th:text="${message.sender.username} + ' - ' + ${message.date}" class="label-message"></label><p th:text="${message.message}" class="message message-lui text-wrap"></p></div>
                </div>
            </div>
            <div class="conversation-form">
                <input type="text" name="send-message" class="form-control" id="message" placeholder="Taper un message" required>
                <button onclick="sendMessage();" class="btn btn-main">-></button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{../js/messagePage.js}"></script>
</body>
</html>
