<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Mewling page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/messagePage.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <!-- Lien vers le fichier CSS externe -->
</head>
<body>
<div class="container-fluid">
    <div class="row align-item-start">
        <div class="contact-section d-flex justify-content-center align-content-start">
            <h1 th:text="${username}"></h1>
            <tr th:each="contact: ${contacts}">
                <td th:text="${contact.username}"></td>
            </tr>
        </div>
        <div class="conversation-section d-flex align-content-start">
            <div th:if="${messages.size > 0}">
                <div class="conversation-information">
                    <h1>Tom & Jerry</h1>
                </div>
                <div class="conversation-form">
                    
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
